<!-- <div class="table-striped">
        <table class="table">
            <col width=1%>
            <thead style="text-align: center">
            <tr>
                <th class="col-sp-2" scope="col">Id</th>
                <th scope="col">Type</th>
                <th scope="col">Name</th>
                <th scope="col">Model</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Price</th> 
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let c of component">
                <td class="center">{{c.id}}</td>
                <td class="center">{{c.type}}</td>
                <td>{{c.name}}</td>
                <td>{{c.model_no}}</td>
                <td>{{c.desc}}</td>
                <td>{{c.image}}</td>
                <td class="center">{{c.price}}</td>
                <td><button (click)="AddToBuild(c.type,c.id)" class="btn btn-success">Add to Build</button></td>
            </tr>
            </tbody>
        </table>
    </div> -->

    <div class="container">
        <div class="listWrap">
            <ul class="list">
                <li>
                    <span>ID</span>
                    <span>Type</span>
                    <span>Name</span>
                    <span>Model</span>
                    <span>Description</span>
                    <span>Image</span>
                    <span>Price</span>
                    <span>Action</span>
                </li>
                <li *ngFor="let c of component">
                    <span>{{c.id}}</span>
                    <span>{{c.type}}</span>
                    <span>{{c.name}}</span>
                    <!-- <span><span class="label label-warning">Manager</span></span> -->
                    <span>{{c.model_no}}</span>
                    <span>{{c.desc}}</span>
                    <span>{{c.image}}</span>
                    <span>{{c.price}}</span>
                    <span>
                        <div class="btn-group btn-group-s" role="group" aria-label="...">
                            <a class="btn btn-info" (click)="AddToBuild(c.type,c.id)">Add to Build</a>
                        </div>
                    </span>
                </li>
            </ul>
        </div>
    </div>