<div class="container">
    <div class="listWrap">
        <ul class="list">
            <li>
                <span>Build Id</span>
                <span>Created By</span>
                <span>Processor</span>
                <span>Motherboard</span>                
                <span>Memory</span>
                <span>Graphics</span>
                <span>Power Supply</span>
                <span>Case</span>
                <span>Cooler</span>
                <span>SSD</span>
                <span>HDD</span>
                <span>Wifi Card</span>
                <span>Build Date</span>
                <span>Price</span>
                <span>Action</span>
            </li>
            <li *ngFor="let build of buildlist">
                <span>{{build.name}}</span>
                <span *ngIf="build.user.type=='ADMIN'"><span class="label label-info">{{build.user.name}}</span></span>
                <span *ngIf="build.user.type=='CUSTOMER'"><span class="label label-primary">{{build.user.name}}</span></span>
                <span>{{build.cpu_id}}</span>
                <span>{{build.mb_id}}</span>
                <span>{{build.ram_id}}</span>
                <span>{{build.gpu_id}}</span>
                <span>{{build.smps_id}}</span>
                <span>{{build.case_id}}</span>
                <span>{{build.cooler_id}}</span>
                <span>{{build.ssd_id}}</span>
                <span>{{build.hdd_id}}</span>
                <span>{{build.wificard_id}}</span>
                <span>{{build.date_creted}}</span> 
                <span>{{build.price}}</span>
                <span>
                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                        <a class="btn btn-danger" (click)="DeleteBuild(build.id)">Delete</a>
                        <a class="btn btn-info" (click)="PlaceOrder(build.id)">Order</a>
                        <!-- <button type="button" class="btn btn-default">Edit</button>
                        <button type="button" class="btn btn-default" disabled>Delete</button> -->
                    </div>
                </span>
            </li>
        </ul>
    </div>
</div>
<h4 style="text-align: center">Please refresh page if New Build is not showing in List.</h4>
    
