html, body {
    height: 100%;
    margin: 0;
}
h1{
    color: aliceblue;
}
.parallax { 
    /* The image used */
    background-image: url("../../assets/images/login-background.jpg");

    /* Set a specific height */
    height:100%; 
    display: block;
    overflow: auto;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
  }