.parallax { 
  background-image: url("../../assets/images/backgroud-main.jpg");

  height:500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}

.navbar{
  margin-bottom: 0!important;
  display: block;
  overflow: auto;
  width: 100%;

}
.front{
  z-index: 1;
  position:relative;
}
html{
position: relative;
min-height: 100%;
}
body {
margin: 0 0 0px;
/* bottom = footer height */
padding: 0px;
}
.footer {
position: sticky;
left: 0;
height: 50px;
margin-bottom: 0px;
width: 100%;
background-color:#222222;
color: white;
text-align: center;
}
.wrapper{
min-height: 100%;

margin-bottom: -50px;
}

.navbar {
font-family: Montserrat, sans-serif;
margin-bottom: 0;
background-color: #000000;
border: 0;
font-weight: 800;
font-size: 11px !important;
letter-spacing: 2px;
}

/* ............ .................................*/

